openapi: 3.1.0
info:
  title: Channel Engagement Service API
  description: |-
    The Channel Engagment Service (CES) API provides the ability to interact securely with the client and advice domains for a client associated to an adviser or linked assistant.
    The API is secured by OAuth2.
    The FSP context need to be provided explicitly for verification of user context with the context key (broker house code-broker code combination).
    Relationships between an adviser and client are verified by using the supplied clientKey
  contact:
    name: Team Samurais
    email: franco.opperman@momentum.co.za
  version: v1.0
servers:
  - url: 'https://channel-engagament-service.adv-slstst.momentum.co.za/channel-engagament-service'
    description: Internal testing server
  - url: 'https://channel-engagament-service.momentum.co.za/channel-engagament-service'
    description: External testing server
  - url: 'https://channel-engagament-service.adv-slspre.momentum.co.za/channel-engagament-service'
    description: Internal pre-live server
  - url: 'https://channel-engagament-service.momentum.co.za/channel-engagament-service'
    description: External pre-live server
  - url: 'https://channel-engagament-service.adv-sls.momentum.co.za/channel-engagament-service'
    description: Internal production server
  - url: 'https://channel-engagament-service.momentum.co.za/channel-engagament-service'
    description: External production server
paths:
  /v1/natural-persons/query:
    post:
      summary: Natural Person query resource
      responses:
        '200':
          description: List of Natural Persons retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NaturalPerson'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '401':
          description: Authentication required. Authentication token is missing or is invalid in some way.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Requesting (authenticated) party is not authorised to access requested information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
      operationId: retrieveNaturalPersonByCriteria
      description: Filter Natural Person collection by search criteria
      security:
        - access_token: []
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NaturalPersonQuery'
        description: Retrieve all Natural Person by search criteria
      tags:
        - Query
    parameters: []
  /v1/juristic-entities/query:
    post:
      summary: Juristic Entity query resource
      responses:
        '200':
          description: List of Juristic Entities retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JuristicEntity'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '401':
          description: Authentication required. Authentication token is missing or is invalid in some way.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Requesting (authenticated) party is not authorised to access requested information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
      operationId: retrieveJuristicEntitiesByCriteria
      description: Retrieve all Juristic Entities by search criteria
      security:
        - access_token: []
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JuristicEntityQuery'
        description: Retrieve all JuristicEntities by search criteria
      tags:
        - Query
    parameters: []
  /v1/clients/query:
    post:
      summary: Clients query resource
      responses:
        '200':
          description: List of Clients retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClientList'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '401':
          description: Authentication required. Authentication token is missing or is invalid in some way.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Requesting (authenticated) party is not authorised to access requested information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
      operationId: retrieveClientListByCriteria
      description: Retrieve all Clients by search criteria
      security:
        - access_token: []
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientListQuery'
        description: Retrieve all ClientList by search criteria
      tags:
        - Query
    parameters: []
  /v1/natural-persons:
    post:
      summary: Natural Person creation resource
      operationId: createNaturalPerson
      responses:
        '201':
          description: Natural Person created successful
          content:
            application/json:
              schema:
                type: string
          headers:
            location:
              schema:
                type: string
              description: The location URL of the newly created Natural Person
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '401':
          description: Authentication required. The authentication token is missing or is invalid in some way.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Requesting (authenticated) party is not authorised to access requested information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: No resource exists at the location provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
      tags:
        - Creation
      description: 'Create a new Natural Person '
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NaturalPersonAddUpdate'
      security:
        - access_token: []
    parameters: []
  /v1/juristic_entities:
    post:
      summary: Juristic Entity creation resource
      operationId: createJuristicEntity
      responses:
        '201':
          description: Juristic Entity created successful
          content:
            application/json:
              schema:
                type: string
          headers:
            location:
              schema:
                type: string
              description: The location URL of the newly created Juristic Entity
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '401':
          description: Authentication required. The authentication token is missing or is invalid in some way.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Requesting (authenticated) party is not authorised to access requested information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: No resource exists at the location provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
      tags:
        - Creation
      description: 'Create a new Juristic Entity '
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JuristicEntityAddUpdate'
      security:
        - access_token: []
    parameters: []
  /v1/natural-persons/full-details:
    post:
      summary: Natural Person (Full Details) creation resource
      operationId: createNaturalPersonFullDetails
      responses:
        '201':
          description: Natural Person (Full Details) created successful
          content:
            application/json:
              schema:
                type: string
          headers:
            location:
              schema:
                type: string
              description: The location URL of the newly created Natural Person (Full Details)
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '401':
          description: Authentication required. The authentication token is missing or is invalid in some way.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Requesting (authenticated) party is not authorised to access requested information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: No resource exists at the location provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
      tags:
        - Creation
      description: 'Create a new Natural Person (Full Details) '
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NaturalPersonFullDetailsAddUpdate'
      security:
        - access_token: []
    parameters: []
  /v1/juristic-entities/full-details:
    post:
      summary: Juristic Entity (Full Details) creation resource
      operationId: createJuristicEntityFullDetails
      responses:
        '201':
          description: Juristic Entity (Full Details) created successful
          content:
            application/json:
              schema:
                type: string
          headers:
            location:
              schema:
                type: string
              description: The location URL of the newly created Juristic Entity (Full Details)
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '401':
          description: Authentication required. The authentication token is missing or is invalid in some way.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Requesting (authenticated) party is not authorised to access requested information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: No resource exists at the location provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
      tags:
        - Creation
      description: 'Create a new Juristic Entity (Full Details) '
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JuristicEntityFullDetailsAddUpdate'
      security:
        - access_token: []
    parameters: []
  '/v1/natural-persons/{clientKey}':
    parameters:
      - schema:
          type: string
        name: clientKey
        in: path
        required: true
        description: The unique CCS client key
    get:
      summary: Natural Person retrieval by client key
      tags:
        - Retrieval
      responses:
        '200':
          description: Get a specific natural person via the client key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NaturalPerson'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '401':
          description: Authentication required. This will be raised if the authentication token is missing or is invalid in some way.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Requesting (authenticated) party is not authorised to access requested information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: No resource exists at the location provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
      operationId: getNaturalPersonByKey
      description: Get an existing natural person via natural person key
      security:
        - access_token: []
      parameters:
        - schema:
            type: string
          in: query
          name: fsp
          description: The FSP association
          required: true
        - schema:
            type: string
          in: query
          name: contextKey
          description: The adviser's context key/code combination
          required: true
        - schema:
            type: string
          in: query
          name: origin
          description: The originating system of the request for auditing and tracing purposes
          required: true
    patch:
      summary: Partially update an existing natural person
      operationId: updateNaturalPersonByKey
      responses:
        '202':
          description: Update of natural person accepted
          content:
            application/json:
              schema:
                type: string
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '401':
          description: Authentication required. This will be raised if the authentication token is missing or is invalid in some way.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Requesting (authenticated) party is not authorised to access requested information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: No resource exists at the location provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
      description: Partially update an existing natural person
      tags:
        - Update
    delete:
      summary: Natural person removal by client key
      operationId: removeNaturalPersonByKey
      responses:
        '204':
          description: Removal of natural person completed
          content:
            application/json:
              schema:
                type: string
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '401':
          description: >-
            Authentication required. This will be raised if the authentication
            token is missing or is invalid in some way.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: >-
            Requesting (authenticated) party is not authorised to access
            requested information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '404':
          description: No resource exists at the location provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
      description: Remove an existing natural person completely
      security:
        - access_token: []
      requestBody:
        content: {}
        description: ''
      tags:
        - Removal
      parameters:
        - schema:
            type: string
          in: query
          name: fsp
          description: The FSP association
          required: true
        - schema:
            type: string
          in: query
          name: contextKey
          description: The adviser's context key/code combination
          required: true
        - schema:
            type: string
          in: query
          name: origin
          description: >-
            The originating system of the request for auditing and tracing
            purposes
          required: true
components:
  schemas:
    User:
      title: User
      type: object
      description: ''
      examples:
        - id: 142
          firstName: Alice
          lastName: Smith
          email: alice.smith@gmail.com
          dateOfBirth: '1997-10-31'
          emailVerified: true
          signUpDate: '2019-08-24'
      properties:
        id:
          type: integer
          description: Unique identifier for the given user.
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
          format: email
        dateOfBirth:
          type: string
          format: date
          example: '1997-10-31'
        emailVerified:
          type: boolean
          description: Set to true if the user's email has been verified.
        createDate:
          type: string
          format: date
          description: The date that the user was created.
      required:
        - id
        - firstName
        - lastName
        - email
        - emailVerified
  securitySchemes:
    access_token:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: ''
          tokenUrl: ''
          refreshUrl: ''
          scopes: {}
        clientCredentials:
          tokenUrl: ''
          refreshUrl: ''
          scopes: {}
tags:
  - name: Creation
  - name: Publish
  - name: Query
  - name: Removal
  - name: Replacement
  - name: Retrieval
  - name: Update
  - name: ActionXXX
